body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  #quote-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #d9d9d9;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
  }
  
  #quote-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #quote-text span:first-child {
    margin-right: 10px;
  }
  
  #quote-text span:last-child {
    margin-left: 10px;
  }
  
  #author-text {
    font-size: 18px;
    font-style: italic;
    text-align: right;
  }
  
  #author-text span:first-child {
    margin-right: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #submit-quote {
    background-color: #337ab7;
    margin-left: 20px;
  }
  
  #submit-quote:hover {
    background-color: #2e6da4;
  }
